<div class="profile-viewer">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-icon mat-card-avatar>person</mat-icon>
      <mat-card-title>Guest</mat-card-title>
      <mat-card-subtitle>Anonymous user</mat-card-subtitle>
    </mat-card-header>
    <img class="profile-image mx-auto" mat-card-image src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png"
      alt="Photo not available">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </mat-card-content>
  </mat-card>
</div>
